name: Release Node.js app # Name of the workflow

# On a push to the branch named main
on:
  push:
    branches:
      - main
    paths:
      # - "material-applications/express-app/**"
      - ".github/workflows/deploy.yml"

# Job called build runs-on ubuntu-latest
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout to the repository
      - uses: actions/checkout@v4
        # with:
        # repository: "docker-hy/material-applications"
        # path: "material-applications/express-app/"
      # We need to login so we can later push the image without issues.
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # Builds devopsdockeruh/docker-hy.github.io
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: aungmk/express-app:latest
          context: .
